/* Fonts
---------------------------------------------------------------------------- */
h1, h2, li, a, p, span, button  {

    color: #1a191a;
    font-size: 19px;
    z-index: 100;



    font-family: 'PT Sans Caption', sans-serif;






}

/* Index
---------------------------------------------------------------------------- */

body {
    height: 100vh;
}
/* Page 1 - Landing
---------------------------------------------------------------------------- */
#logo {
    width: 125px;
    height: auto;
    position: absolute;
    right: 2.5%;
    top: 5%;
}

#page_1 {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#landing {
    display: flex;
    flex-direction: row;
}

.nav-btn {
    width: 115px;
    height: 115px;
    padding: 65px;
    display: flex;
    flex-direction: column;
    margin: 35px;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.nav-btn p{
    padding-top: 10px;
    font-size: 1.7em;
}
.nav-btn p:hover {
    text-decoration: none;
    color: #313131;
}
.nav-btn span {
    font-size: 3.5em;
}

.nav-btn:hover {
    border-radius: 20px;
    background-color: #cccccc;
    cursor: pointer;
}

/* Page 2 - About
---------------------------------------------------------------------------- */
#about {
    width: 700px;
    padding-top: 30vh;
    margin: 0 60px;
}
#about h1{
    color: #ebebeb;
    font-size: 2em;
    margin-bottom: 20px;
}
#about p {
    color: #ebebeb;
    font-size: 1.7em;
    margin-bottom: 20px;
}

.btn {
    background-color: transparent;
    color: #cccccc;
    font-size: 1.1em;
    border: 1px solid #ebebeb;
    margin-top: 30px;
}
.btn:hover {
    color: #ebebeb;
}
/* Page 3
---------------------------------------------------------------------------- */

.container {
    margin: 0 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#education {
    margin-bottom: 25px;
}
#education h1{
    font-size: 1.7em;
}
#education p {
    margin-left: 5px;
    font-size: 1.5em;
}

#skills {
    width: 300px;
    margin-top: 50px;
}
#skills h2 {
    font-size: 1.6em;
}
#skills ul {
    margin: 10px 0 0 5px;
}
#skills ul li {
    margin-top: 10px;
    font-size: 1.4em;
}

/* Page 4 - Portfolio
---------------------------------------------------------------------------- */
#prjs{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col-sm-3{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+87,0+100 */
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 87%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 87%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 87%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    opacity: 0.9;
    border-radius: 5px;
    margin: 0 30px;
}

.thumb-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.thumb-title h1{
    font-size: 1.4em;
    width: 95%;
}

.prj-thumb, .prj-details {
    height: 210px;
    width: 250px;
    margin: 15px auto;
}
.prj-thumb p {
    padding-bottom: 5px;
}

.prj-details {
    display: none;
    transition-delay: 1s;
}

.img-thumb {
    width: 250px;
    height: 160px;
    margin: 0 auto;
}

.icons {
    position: absolute;
    right: 15px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.git {
    width: 20px;
    height: auto;
    margin-right: 5px;
}
.web {
    width: 20px;
    height: auto;
}

/* Parallax Breaks
---------------------------------------------------------------------------- */

.break {
    height: 200px;
    width: 100%;
    background-color: #cccccc ;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.break img {
    width: 150px;
    height: auto;
    margin: 25px;
}

.details {
    padding-right: 40px;
    width: 100%;
    text-align: right;
}
.details h1{
    font-size: 1.4em;
    margin-bottom: 5px;
}
.details p{
    font-size: 1.3em;
    margin-bottom: 5px;
    margin-left: 5px;
}
.details p a {
    font-size: 1em;
}

/* Parallax
---------------------------------------------------------------------------- */
.parallax {
    /* The image used */
    background-image: url("/static/imgs/parallax/index.png");

    /* Full height */
    min-height: 101vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

}